/* CSS table of contents

1. Global styles
2. Primary layout structure
3. Secondary layout structre
4. Components
    4.1 Buttons
5. Header
    5.1 Brand title
    5.2 Menu icon
6. Sidebar container
    6.1 List styling 
7. Tabs
8. Search tab
    8.1 Forms container
    8.2 Autocomplete inputs
    8.3 Autocomplete selection boxes
    8.4 Autocomplete lists
    8.5 Timepicker
    8.6 Datepicker
    8.7 Plan route button
    8.8 Route options
9. Routes tab
10. Favs tab
11. Directions modal
12. Stops modal
13. Recently added styles to be moved to relevant section of CSS file

*/

/* ---------------- */
/* 1. Global styles */
/* ---------------- */

/* The Google Monsterrat font is applied all text on the page */
/* The sans-serif family is used as a fallback */
/* Border-box box-sizing sets the dimensions of elements to include conent, padding and borders */
/* Prevent text from being highlighted using the user-select selectors */
* {
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Cusom scrollbar for Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(137, 144, 144) rgb(224, 224, 224);
}

/* Custom scrollbar for Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 150, 150);
}

/* Prevent animations occuring when the window is being resized */
.resize_standard * {
    animation: none !important;
    transition: none !important;
}

/* --------------------------- */
/* 2. Primary layout structure */
/* --------------------------- */

/* The default margin and padding is removed from the body */
/* The height and width of the body is set 100% of the viewport height and width */
/* Overflow is hidden to prevent scroll bars appearing when the map is pushed */
/* The display of the body is set to the CSS grid */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: minmax(330px, 3.25fr) 8.75fr;
    grid-template-areas:
        "header map"
        "sidebar map";
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.map {
    grid-area: map;
}

@media only screen and (min-width: 1500px) {
    body {
        grid-template-rows: 50px auto;
        grid-template-columns: 400px 12fr;
        grid-template-areas:
            "header map"
            "sidebar map";
    }
}

@media only screen and (max-width: 600px) {
    body {
        height: calc(var(--vh, 1vh) * 100);
        grid-template-rows: 40px auto;
        grid-template-columns: minmax(270px, auto);
        grid-template-areas:
            "header"
            "map";
    }

    header {
        grid-area: header;
    }

    .map {
        grid-area: map;
    }
}

/* ---------------------------- */
/* 3. Secondary layout elements */
/* ---------------------------- */

header {
    height: 50px;
    text-align: center;
    background-color: #212f3c;
    color: white;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 600px) {
    header {
        height: 40px;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.sidebar {
    background-color: white;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #sidebar {
        width: 0px;
    }

    .sidebar {
        height: 100%;
        margin-top: 40px;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;
        transition: 0.4s;
    }
}

.map {
    height: 100%;
    width: 100%;
}

/* ------------- */
/* 4. Components */
/* ------------- */

/* 4.1 Buttons */

.button_group {
    margin-top: 5px;
    float: left;
}

.button {
    display: inline-block;
    margin-top: 5px;
    margin-right: 7px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    border-radius: 4px;
    outline-style: none;
}

@media only screen and (max-width: 320px) {
    .button {
        padding: 6px;
    }
}

.button:hover {
    background: lightgrey;
    transition: all 0.1s linear;
}

/* --------- */
/* 5. Header */
/* ----------*/

/* 5.1. Brand title */

.brand_title {
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: unset;
    /* margin-left: 30px; */
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .brand_title {
        margin-top: 6px;
        font-size: 22px;
    }
}
@media only screen and (max-width: 250px) {
    .brand_title {
        display: none;
    }
}

/* 5.2 Menu icon */

.sidebar_toggle {
    display: none;
}

@media only screen and (max-width: 600px) {
    .sidebar_toggle {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 2px;
        z-index: 10;
    }
}
.toggle_button {
    cursor: pointer;
}

.line {
    height: 4px;
    width: 23px;
    border-radius: 3px;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    transition: all 0.2s;
}

.toggle_button:hover .line {
    width: 23px;
    background-color: grey;
}

#checkbox_label:focus {
    outline: none;
}

#checkbox_label:focus .line {
    width: 23px;
    background-color: grey;
}

@media only screen and (max-width: 600px) {
    .line {
        height: 4px;
    }
}

.line_1,
.line_3 {
    width: 18px;
}

.label {
    width: 0px;
    height: 0px;
}

.checkbox {
    margin: 13px 0px 10px 60px;
}

.checkbox:checked ~ .click_toggle .line_1 {
    transform: translateY(10px) rotate(45deg);
}

.checkbox:checked ~ .click_toggle .line_2 {
    opacity: 0;
}

.checkbox:checked ~ .click_toggle .line_3 {
    transform: translateY(-10px) rotate(-45deg);
}

.hidden {
    display: none;
}

/* -------------------- */
/* 6. Sidebar container */
/* -------------------- */

/* 6.1 List styling */

.list_group {
    white-space: normal;
}

.list_group ul {
    margin: 0px;
    padding: 0px;
}

.list_group li {
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 35px;
    min-width: fit-content;
}

.list_group li:hover {
    background-color: #e0dfdc;
}
.list_group li:focus {
    /* outline: webkit-focus-ring-color auto 1px; */
    outline: none;
    background-color: #e0dfdc;
}

.list_group a:focus {
    /* outline: webkit-focus-ring-color auto 1px; */
    outline: none;
    background-color: #e0dfdc;
}

.list_group li:last-child {
    margin-bottom: 80px;
}

.list_group a:after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 40px);
    left: 20px;
    background: #595c5a;
}

.list_group a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px 10px 0px 20px;
}

#route_options {
    display: none;
    width: 100%;
    position: relative;
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: left;
}

#route_options li {
    line-height: 30px;
}

#routeIndex {
    white-space: normal;
    min-width: 200px;
}

/* ------- */
/* 7. Tabs */
/* ------- */

.tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    min-width: fit-content;
    margin: 0px;
    padding: 0px 15px 0px 15px;
    height: 37px;
    background-color: #212f3c;
    color: white;
}

.tab {
    margin: 0px 10px 0px 10px;
}

.tab:hover {
    color: grey;
}

.tab:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

button[role="tab"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (max-width: 450px) {
    button[role="tab"] {
        font-size: 18px;
        margin: 0px 5px 0px 5px;
    }
}

[role="tab"][aria-selected="true"] {
    border-bottom: 4px solid goldenrod;
}

[role="tabpanel"]:not([hidden]) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - (50px + 37px));
}

@media only screen and (max-width: 600px) {
    [role="tabpanel"]:not([hidden]) {
        height: calc(100vh - (40px + 37px));
        height: calc((var(--vh, 1vh) * 100) - (40px + 37px));
    }
}

/* ------------- */
/* 8. Search tab */
/* ------------- */

/* 8.1 Form */

/* 8.2 Autocomplete inputs */

.ui-autocomplete-input {
    margin: 10px 0px 0px 0px;
    width: calc(100% - 44px);
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    display: block;
    background-clip: padding-box;
    border-radius: 4px;
}

@media only screen and (max-width: 320px) {
    .ui-autocomplete-input {
        width: calc(100% - 70px);
    }
}

.ui-menu .ui-menu-item-wrapper {
    padding: 10px 10px 0px 20px;
    min-height: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui-menu-item-wrapper.ui-state-active {
    border: none !important;
    margin: 0px !important;
}
.ui-menu .ui-state-active {
    border: none !important;
    background-color: #e0dfdc !important;
    outline: none !important;
    /* background-color: transparent !important; */
    /* outline: 2px solid black !important; */
    /* outline: webkit-focus-ring-color auto 1px !important; */
}
.ui-menu .ui-state-active:hover {
    border: none !important;
    background-color: #e0dfdc !important;
    outline: none !important;
}

/* 8.3 Autocomplete selection boxes */

#ui-id-1 {
    width: 100% !important;
    flex: 1 1 0 !important;
}

#ui-id-2 {
    width: 100% !important;
    flex: 1 1 0 !important;
}

/* 8.4 Autocomplete lists */

#ui-id-1 li:after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 40px);
    left: 20px;
    background: #595c5a;
}

#ui-id-2 li:after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 40px);
    left: 20px;
    background: #595c5a;
}

/* 8.5 Timepicker */

#timepicker {
    margin-top: 8px;
    margin-right: 10px;
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.5;
    color: black;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#timepicker:focus {
    box-shadow: 0 0 10px 2px black;
}

/* 8.6 Datepicker */

#datepicker {
    width: 160px;
    font-size: 14px;
    margin: 130px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.5;
    color: black;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#datepicker:focus {
    box-shadow: 0 0 10px 2px black;
}

@media only screen and (max-width: 320px) {
    #timepicker {
        font-size: 12px;
    }

    #datepicker {
        font-size: 12px;
        width: 130px;
    }

    #datepicker #picker {
        margin-left: 15px !important;
    }
}

/* 8.7 Plan route button */

/* 8.8 Route options */

/* ------------- */
/* 9. Routes tab */
/* ------------- */

#route_search_background {
    padding: 5px 15px 5px 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f567c;
}

#route_search {
    margin: 10px 0px 0px 0px;
    width: calc(100% - 44px);
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    display: block;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    min-width: 100px;
    border: 1px solid #dddddd;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#route_search:focus {
    box-shadow: 0 0 10px 2px black;
}

#route_background {
    height: calc(100vh - 198px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 80px;
}

@media only screen and (max-width: 600px) {
    #route_background {
        height: calc(100vh - 188px);
        height: calc((var(--vh, 1vh) * 100) - 188px);
    }
}

#bus_icon {
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

.transport_container {
    padding: 5px 5px 0 0;
    border: solid 1px gray;
    border-bottom: solid 5px royalblue;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    min-width: 50px;
    font-weight: bold;
    background-color: white;
}

#luas {
    border-bottom: solid 5px #9933cc;
}

#rail {
    border-bottom: solid 5px #5ea832;
}

/* ------------ */
/* 10. Favs tab */
/* ------------ */

/* -------------------- */
/* 11. Directions Modal */
/* -------------------- */

.directions_list li {
    box-sizing: border-box;
    display: table;
    height: 55px;
    outline: 0;
    padding: 10px 20px;
    padding-left: 35px;
    position: relative;
    text-align: left;
    white-space: normal;
    width: 100%;
    outline: none;
}

.directions_list li:before {
    content: "";
    border-left: solid 3px #1f567c;
    height: 100%;
    position: absolute;
    top: 0;
    left: 17px;
}

.directions_list li:first-child:before {
    height: calc(100% - 25px);
    top: 25px;
}

.directions_list li:after {
    background-color: #fff;
    border: 2px solid #1f567c;
    border-radius: 50%;
    content: "";
    height: 10px;
    position: absolute;
    top: 16px;
    left: 13.5px;
    width: 10px;
}

.directions_list li:last-child:before {
    height: calc(100% - 32px);
}

/* --------------- */
/* 12. Stops Modal */
/* --------------- */

.route_selected li {
    list-style-type: none;
    margin: 20px;
    color: black;
    text-align: left;
    font-size: 15px;
}

#stop_click {
    padding-left: 0px;
}

.stops_list li {
    box-sizing: border-box;
    cursor: pointer;
    display: table;
    height: 55px;
    outline: 0;
    padding: 10px 20px;
    padding-left: 40px;
    position: relative;
    text-align: left;
    width: 100%;
}

.stops_list li:hover {
    background-color: #e0dfdc;
}
.stops_list li:focus {
    background-color: #e0dfdc;
}

.stops_list li:before {
    content: "";
    border-left: solid 3px #1f567c;
    height: 100%;
    position: absolute;
    top: -1px;
    left: 23px;
}

.stops_list li:first-child:before {
    height: calc(100% - 25px);
    top: 24px;
}

.stops_list li:after {
    background-color: #ffffff;
    border: 2px solid #1f567c;
    border-radius: 50%;
    content: "";
    height: 10px;
    position: absolute;
    top: 15px;
    left: 19.5px;
    width: 10px;
}

.stops_list li:last-child:before {
    height: calc(100% - 29px);
}

.modal {
    display: none;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 1;
    width: 330px;
    height: calc(100% - 50px);
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
    .modal {
        top: 40px;
        height: calc(100% - 40px);
    }
}

.modal_content {
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0px;
}

.close {
    background-color: transparent;
    color: black;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
    margin: 20px;
}

.close:hover {
    background-color: white !important;
}

.close:focus {
    outline: none !important;
    border: 2px solid black;
    border-radius: 4px;
}

/* --------------------------------------------------------------------- */
/* 13. Recently added styles to be moved to relevant section of CSS file */
/* --------------------------------------------------------------------- */

/*Infowindow in Google Maps*/

.infowindow {
    font-size: 12px;
}

.info_window_list {
    list-style-type: none;
}
#arrival_time {
    font-weight: bold;
    padding-left: 5px;
}

#directions_stops_list {
    display: none;
}

/*Weather icons*/

#weather_data img {
    width: 40px;
}

#centered {
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.input_area {
    background-color: #1f567c;
    padding: 15px;
    margin: 0px;
    min-width: fit-content;
}

@media only screen and (max-width: 600px) {
    .input_area {
        padding-top: 7px;
        /* padding-bottom: 7x; */
    }
}

#switch_directions {
    margin: -63px 0px 0px 0px;
    padding: 6px;
    float: right;
    background-color: #1f567c;
    color: white;
}

#switch_directions:hover {
    color: grey;
}

#switch_directions:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

@media only screen and (max-width: 320px) {
    #switch_directions {
        margin: -63px 26px 0px 0px;
    }
}

#fields {
    font-size: 0px;
    width: 95%;
}

#input_fields {
    position: absolute;
}

#form {
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

#route_click {
    padding: 0px;
    margin: 0px;
}

#route_click ul {
    padding: 0px;
    margin: 0px;
}

#form_output {
    display: none;
    width: 100%;
    position: relative;
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll_container {
    width: 100%;
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.routes_list ul {
    list-style-type: none;
}

.routes_list li {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.routes_list li:focus {
    outline: none;
    background-color: #e0dfdc;
}

.routes_list li:hover {
    background-color: #e0dfdc;
}

.routes_list li:after {
    position: relative;
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 40px);
    left: 20px;
    background: #595c5a;
}

div.flatpickr-calendar.animate.arrowTop.open {
    left: 10px !important;
}

div.flatpickr-calendar.hasTime.noCalendar.animate.showTimeInput.arrowTop.open {
    margin-top: 5px !important;
}

.flatpickr-time.time24hr {
    height: 43px;
}

.list_group h2 {
    background-color: #ecf0f1;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    line-height: 1.4;
    padding: 6px 6px 0px 15px;
    margin: 0px;
    width: 100%;
    z-index: 1;
    text-align: center;
    position: sticky;
    top: 0;
}

.route_text_start {
    display: block;
    line-height: 27px;
    min-width: 200px;
    white-space: normal;
}

.route_text_end {
    display: block;
    line-height: 27px;
    min-width: 200px;
    white-space: normal;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.voice {
    position: relative;
    top: -4px;
    left: 3px;
    height: 30px;
    border: none;
    background-color: white;
    border-right: 1px solid grey;
    cursor: pointer;
    margin-right: 10px;
}

.fa-microphone {
    color: #4285f4;
}

#journey_info {
    padding-left: 0px;
    white-space: normal;
}

#languages_button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left: 90px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: unset;
}

@media only screen and (max-width: 600px) {
    #languages_button {
        position: absolute;
        left: 15px;
        top: 8px;
        margin: unset;
    }
}
#languages_modal {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
#languages_modal .modal_content {
    height: 203px;
}

.fa-language {
    color: white;
}

#info {
    background-color: #212f3c;
    overflow-y: auto;
    overflow-x: hidden;
}

#info a {
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 8px;
}

#info .footer ul {
    list-style-type: none;
    position: static;
    bottom: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
    padding: 5px;
}

#info .footer ul li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    word-wrap: break-word;
}

#info img {
    width: 100px;
    height: 50px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
}

#info img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}

#info a:hover {
    color: grey;
}

.info_sidebar img {
    width: 80px;
    height: 40px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
}

.info_sidebar img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}

#info p {
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    margin: 0px;
    color: whitesmoke;
    overflow-x: hidden;
}

.weatherWidget {
    height: auto !important;
    margin: 0px 4px 4px 4px !important;
    min-width: 250px !important;
    overflow: hidden !important;
}

.timeline-Widget {
    width: 98%;
}

#twitter-widget-0 {
    width: 98% !important;
}

.twitter-timeline {
    margin: 4px;
    height: auto;
    padding: 6px 6px 6px 6px;
}

#stops_modal {
    transition: 0.4s;
}

#directions_modal {
    transition: 0.4s;
}

@media screen and (orientation: landscape) and (max-height: 450px) and (hover: none) and (any-pointer: coarse) {
    body {
        display: none;
    }
}

#show_datetime {
    background-color: transparent;
    color: white;
}

#show_datetime:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

#location_button {
    background-color: transparent;
    color: white;
}

#location_button:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

#favourites {
    background-color: transparent;
    color: white;
}

#favourites:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

#route_select {
    background-color: #156bfb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
}

@media only screen and (max-width: 320px) {
    #route_select {
        font-size: 16px;
    }
}

@media only screen and (max-width: 280px) {
    #route_select {
        font-size: 14px;
    }
}

#route_select:hover {
    background-color: lightseagreen;
}

#route_select:focus {
    outline: none !important;
    border: 2px solid white;
    /* border-radius: 4px; */
}

.fa-heart {
    color: white;
}

#direction_button {
    min-width: 140px;
    margin: 10px 0px 10px 0px;
    padding: 4px 12px 4px 12px;
    background-color: #156bfb;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#direction_button:focus {
    outline: none !important;
    border: 2px solid white;
    border-radius: 4px;
}

#direction_button:hover {
    background-color: lightseagreen;
}

/* Prevent iOS devices from changing border radius of form fields */
input {
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#id_source {
    margin-top: 0px;
    padding-left: 38px;
    margin-bottom: -30px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#id_source:focus {
    box-shadow: 0 0 10px 2px black;
}

#id_destination {
    padding-left: 38px;
    margin-bottom: -30px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#id_destination:focus {
    box-shadow: 0 0 10px 2px black;
}

@supports (-webkit-touch-callout: none) {
    #id_source {
        padding-left: 45px;
        margin-bottom: -30px;
        border: none;
    }

    #id_destination {
        padding-left: 45px;
        margin-bottom: -30px;
        border: none;
    }
}

#sel_id {
    margin: 20px;
}

#languages_close_button {
    margin: 10px 35px 10px 10px;
}

#directions_list h3 {
    white-space: normal;
    margin: 0px;
    padding: 15px 20px 15px 20px;
    outline: none;
}

#directions_list h3:last-child {
    padding-bottom: 40px;
}

#directions_list > li:last-child {
    height: 0px;
    padding: 0px;
}

#weather_data {
    padding: 10px 20px 0px 20px;
    outline: none;
}

#journey_info > li:last-child {
    height: 0px;
    padding: 0px;
}

#journey_info > li:last-child::after {
    top: 0px;
}
#journey_info > li:last-child::before {
    height: calc(100% - 9px);
}

#journey_info {
    margin: 0px;
    outline: none;
}

#info > div > div.footer > ul > li:nth-child(2) {
    margin-bottom: 15px;
}

.loader {
    display: none;
    margin: 40px auto auto auto;
    border: 6px solid rgb(230, 224, 224);
    border-radius: 50%;
    border-top: 6px solid #212f3c;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

/* For the loader on Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#recent > p {
    margin: 0px;
    padding: 20px 0px 0px 20px;
}

#recent > ul > li:nth-child(1) > a {
    margin-top: 5px;
}

.fa-language:hover {
    color: grey;
}

.fa-clock:hover {
    color: grey;
}

.fa-compass:hover {
    color: grey;
}

.fa-heart:hover {
    color: grey;
}

#favourites_list {
    height: calc(100vh - 87px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    #favourites_list {
        height: calc(100vh - 77px);
        height: calc((var(--vh, 1vh) * 100) - 77px);
    }
}

#favourites_list > p {
    margin: 0px;
    padding: 20px 0px 0px 20px;
}

#map iframe {
    pointer-events: none;
}
